@model DetailsUpdateDeleteApartmentViewModel

<table border="1px solid black" border-collapse="collapse">
    <tr>
        <th>Address</th>
        <th>Area</th>
        <th>AvailableSince</th>
        <th>Floor</th>
        <th>BuildingType</th>
        <th>BuildingFloors</th>
        <th>Number of rooms</th>
    </tr>
    <tr>
        <td>@Model.StreetName @Model.StreetNumber, @Model.ZipCode @Model.City, @Model.State, @Model.Country</td>
        <td>@Model.Area</td>
        <td>@Model.AvailableSince</td>
        <td>@Model.Floor</td>
        <td>@Model.BuildingType</td>
        <td>@Model.BuildingFloors</td>
        <td>@Model.NumberOfRooms</td>
    </tr>
</table>
