@model DetailsUpdateDeleteApartmentViewModel

<table border="1px solid black" border-collapse="collapse">
    <tr>
        <th>Address</th>
        <th>Area</th>
        <th>AvailableSince</th>
        <th>Floor</th>
        <th>BuildingType</th>
        <th>BuildingFloors</th>
        <th>Number of rooms</th>
    </tr>
    <tr>
        <td>@Model.StreetName @Model.StreetNumber, @Model.ZipCode @Model.City, @Model.State, @Model.Country</td>
        <td>@Model.Area</td>
        <td>@Model.AvailableSince</td>
        <td>@Model.Floor</td>
        <td>@Model.BuildingType</td>
        <td>@Model.BuildingFloors</td>
        <td>@Model.NumberOfRooms</td>
    </tr>
</table>
@if (Model.Rooms.Any())
{
    <p>Rooms associated with this apartments:</p>
    <table border="1px solid black" border-collapse="collapse">
        <tr>
            <th>Price</th>
            <th>RoomType</th>
            <th>Area</th>
            <th>IsFurnished</th>
            <th>Action</th>
        </tr>
        @foreach (var room in Model.Rooms)
        {
            <tr>
                <td>@room.Price</td>
                <td>@room.RoomType</td>
                <td>@room.Area</td>
                <td>@room.IsFurnished</td>
                <td>
                    <a class="btn btn-primary"
                       asp-controller="Room"
                       asp-action="Details"
                       asp-route-roomId="@room.RoomId">Details</a>
                    <a class="btn btn-primary"
                       asp-controller="Room"
                       asp-action="Update"
                       asp-route-roomId="@room.RoomId">Update</a>
                    <a class="btn btn-primary"
                       asp-controller="Room"
                       asp-action="Delete"
                       asp-route-roomId="@room.RoomId">Delete</a>
                </td>
            </tr>

        }
    </table>
}
else
{
    <p>You currently have no rooms associated with this apartments.</p>
}