@model Landlord

Your landlord info:
<table>
    <tr>
        <th>Landlord ID</th>
        <th>UserId</th>
        <th>Profile ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.UserId</td>
        <td>@Model.ProfileId</td>
        <td>@Model.Profile.FirstName</td>
        <td>@Model.Profile.LastName</td>
    </tr>
</table>