@model IEnumerable<DetailsUpdateDeleteApartmentViewModel>

@{
    ViewData["Title"] = "Your apartments";
}

@if (Model.Any())
{
    <p>Your apartments:</p>
    <table border="1px solid black" border-collapse="collapse">
        <tr>
            <th>Address</th>
            <th>Area</th>
            <th>Floor</th>
            <th>Action</th>
        </tr>
        @foreach (var @apartmentViewModel in Model)
        {
            <tr>
                <td>
                    @apartmentViewModel.StreetName
                    @apartmentViewModel.StreetNumber,
                    @apartmentViewModel.City
                </td>
                <td>@apartmentViewModel.Area</td>
                <td>@apartmentViewModel.Floor</td>
                <td>
                    <a class="btn btn-primary"
                       asp-controller="Apartment"
                       asp-action="Details"
                       asp-route-apartmentId="@apartmentViewModel.ApartmentId">Details</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>You currently have no apartments.</p>
}
<a class="btn btn-primary" asp-controller="Apartment" asp-action="Add">Add new Apartment</a>
