@model DetailsUpdateDeleteApartmentViewModel

@{
    ViewData["Title"] = "Update your apartment";
}

<p>Update your apartment:</p>
<form method="post" asp-action="Update">
    <p>
        <ul hidden="hidden">
            @for (int i = 0; i < Model.Rooms.Count; i++)
            {
                <li>
                    <input asp-for="@Model.Rooms[i].ApartmentId" hidden="hidden"/>
                    <input asp-for="@Model.Rooms[i].Area" hidden="hidden"/>
                    <input asp-for="@Model.Rooms[i].IsFurnished" hidden="hidden"/>
                    <input asp-for="@Model.Rooms[i].Price" hidden="hidden"/>
                    <input asp-for="@Model.Rooms[i].RoomType" hidden="hidden"/>
                </li>
            }
        </ul>
        <input asp-for="ApartmentId" hidden="hidden" />
        <input asp-for="AddressId" hidden="hidden" />
    </p>
    <p>
        <label asp-for="StreetName"></label>
        <input asp-for="StreetName" />
    </p>
    <p>
        <label asp-for="StreetNumber"></label>
        <input asp-for="StreetNumber" />
    </p>
    <p>
        <label asp-for="ZipCode"></label>
        <input asp-for="ZipCode" />
    </p>
    <p>
        <label asp-for="City"></label>
        <input asp-for="City" />
    </p>
    <p>
        <label asp-for="State"></label>
        <input asp-for="State" />
    </p>
    <p>
        <label asp-for="Country"></label>
        <input asp-for="Country" />
    </p>
    <p>
        <label asp-for="Area"></label>
        <input asp-for="Area" />
    </p>
    <p>
        <label asp-for="AvailableSince"></label>
        <input asp-for="AvailableSince" />
    </p>
    <p>
        <label asp-for="Floor"></label>
        <input asp-for="Floor" />
    </p>
    <div>
        Type of building your apartment is in:
        @foreach (var type in System.Enum.GetValues(typeof(BuildingType)))
        {
            <label for="@type" asp-for="BuildingType">@type</label>
            <input type="radio" id="@type" asp-for="BuildingType" value="@type" />
        }
    </div>
    <p>
        <label asp-for="BuildingFloors"></label>
        <input asp-for="BuildingFloors" />
    </p>
    <p>
        <label asp-for="NumberOfRooms"></label>
        <input asp-for="NumberOfRooms" />
    </p>

    <input type="submit" value="Update" />
</form>

<a class="btn btn-primary" asp-controller="Apartment" asp-action="Index">Back to apartments list</a>