@model DetailsUpdateDeleteRoomViewModel

@{
    ViewData["Title"] = "Details of your room";
}

<table border="1px solid black" border-collapse="collapse">
    <tr>
        <th>Price</th>
        <th>Area</th>
        <th>RoomType</th>
        <th>IsFurnished</th>
    </tr>
    <tr>
        <td>@Model.Price</td>
        <td>@Model.Area</td>
        <td>@Model.RoomType</td>
        <td>@Model.IsFurnished</td>
    </tr>
</table>
<a class="btn btn-primary"
   asp-controller="Apartment"
   asp-action="Details"
   asp-route-apartmentId="@Model.ApartmentId">Back to apartment</a>