@model DetailsUpdateDeleteRoomViewModel

@{ 
    ViewData["Title"] = "Update your room";
}

<form method="post" asp-action="Update">
    <input hidden="hidden" asp-for="@Model.RoomId" />
    <input hidden="hidden" asp-for="@Model.ApartmentId" />

    <p>
        <label asp-for="@Model.Price"></label>
        <input type="number" asp-for="@Model.Price" />
    </p>
    <p>
        <label asp-for="@Model.Area"></label>
        <input type="text" pattern="(^\d{1,2}(,\d{0,2}){0,1}$)" asp-for="@Model.Area" />
    </p>
    <div>
        Type of room:
        @foreach (var type in System.Enum.GetValues(typeof(RoomType)))
        {
            <p>
                <label for="@type" asp-for="@Model.RoomType">@type</label>
                <input type="radio" value="@type" id="@type" asp-for="@Model.RoomType" />
            </p>
        }
    </div>
    <p>
        <label asp-for="@Model.IsFurnished"></label>
        <input asp-for="@Model.IsFurnished" />
    </p>
    <p>
        <input class="btn btn-primary" type="submit" value="Update your room" />
        <a class="btn btn-primary"
           asp-controller="Apartment"
           asp-action="Details"
           asp-route-apartmentId="@Model.ApartmentId">Back to apartment</a>
    </p>
</form>